:root {
  --color-accent: #ffffff;
  --color-primary: #512da8;
  --color-secondary: #ea7317;
  --color-secondary-dark: #af5612;
  --text-color: #464646;
  --border-color: #888;

  /*Sizes*/
  --normal-border: 0.15rem;
  --thick-border: 0.2rem;
  --normal-font-size: 12pt;

  /*Devices*/
  --mobile-device: 720px;

  /*Font-sizes (By scott tolinski)*/
  --baseFontSize: 1rem;
  --baseNavSize: 0.64rem;
  --smallFontSize: 0.8rem;
  --smallestFontSize: 0.512rem;

  --xtra-big-heading: 3.052rem;
  --xtra-heading: 2.441rem;
  --heading-1: 1.953rem;
  --heading-2: 1.563rem;
  --heading-3: 1.25rem;
  --heading-4: var(--baseFontSize);
  --heading-5: var(--smallFontSize);
  --heading-6: 0.64rem;
  --heading-7: var(--smallestFontSize);

  /*Some defaults*/
  --border-radius: 10px;
  --small-space: 10px;
  --box-padding: 20px;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
